a,.tp-caption a.btn:hover {
	color: #b81111;
}
.top-nav-collapse {
	background: #b81111;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #b81111;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #b81111;
}

.widget-avatar .avatar:hover {
    border: 5px solid #b81111;
}

.bg-skin {
	background: #b81111;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #b81111;
}

footer {
    background-color: #b81111;
}

.btn-skin {
  color: #fff;
  background-color: #b81111;
  border-color: #b81111;
}

.spip-admin-bloc, .spip-admin-float {
	z-index: 999;
	position: fixed;
	right: 20%;
	top: initial !important;
	bottom: 0 !important;
	white-space: nowrap;
}

img.adapt-img, .lazy img.adapt-img {
	opacity: 0.70;
	max-width: 100%;
	height: auto !important;
}



.choix input {float:left; margin-right:10px;}

.formulaire_spip {
text-align: left;
width: 90%;
margin: 0 auto;
font-size: 1.3em;
}

.formulaire_spip ul li {list-style-type: none}

.formulaire_spip  input[type=submit] {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	background: #eee;
	display: block;
	margin-left: 40px; 
}

/*.formulaire_spip .reponse_formulaire_ok {
	position: fixed;
	top: 100px;
	right: 0;
	display: block;
	background: #FFF;
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}*/

.adapt-img-wrapper{margin:10px}
a.pieddepage {color:#fff;}
a:hover.pieddepage {color:#000;}

.company-social {
text-align: center;
font-size: 2em;
}

.contact-icon span {
margin-bottom: 20px;
font-size: 5em;
}


.skip-links {
  position: absolute;
  z-index: 999;
}
.skip-links a {
  /* Hello, I'm a CSS-style comment */
  position: absolute;
  left: -7000px;
  padding: 0.5em;
  background: #1b2b5a;
  color: white;
  text-decoration: none;
}
.skip-links a:focus {
  position: static;


}

ul.unstyled,
ol.unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.pola a
	{
		background: white;
		display: inline;
		float: left;
		margin: 0 15px 30px;
		padding: 10px 10px 25px;
		text-align: center;
		text-decoration: none;
		-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 4px 6px rgba(0,0,0,.8);
		box-shadow: 0 4px 6px rgba(0,0,0,.8);
		-webkit-transition: all .15s linear;
		-moz-transition: all .15s linear;
		transition: all .15s linear;
		z-index:0;
	        position:relative;
	}


.commons {font-size:1em}

/* Shared styles */

        .drop-shadow {
            position:relative;
            float:left;
            width:100%;
            padding:5em 1em;
            margin:0 auto 5em;
            background:#FEFFE8;
            -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 3px 8px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 3px 8px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

        .drop-shadow p {
           font-size: 22px;
		   line-height: 1.9em;
            text-align: center;
           /* font-weight:bold;*/
        }
        
        @media (max-width:480px) {
	        
	        .drop-shadow {
            padding:3em 1em;
            margin:2em auto;
        	}
        	
			.drop-shadow p {
           font-size: 18px;
		   line-height: 1.7em;
            text-align: center;
           /* font-weight:bold;*/
        	}

	     }

        .drop-shadow:before,
        .drop-shadow:after {
            content:"";
            position:absolute;
            z-index:-2;
        }

        /* Lifted corners */

        .lifted {
            -moz-border-radius:4px;
            border-radius:4px;
        }

        .lifted:before,
        .lifted:after {
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            max-height:100px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -webkit-transform:rotate(-3deg);
            -moz-transform:rotate(-3deg);
            -ms-transform:rotate(-3deg);
            -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
        }

        .lifted:after {
            right:10px;
            left:auto;
            -webkit-transform:rotate(3deg);
            -moz-transform:rotate(3deg);
            -ms-transform:rotate(3deg);
            -o-transform:rotate(3deg);
            transform:rotate(3deg);
        }

        /* Curled corners */

        .curled {
            border:1px solid #efefef;
            -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
            border-radius:0 0 120px 120px / 0 0 6px 6px;
        }

        .curled:before,
        .curled:after {
            bottom:12px;
            left:10px;
            width:50%;
            height:55%;
            max-width:200px;
            max-height:100px;
            -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
            -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
            box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
            -webkit-transform:skew(-8deg) rotate(-3deg);
            -moz-transform:skew(-8deg) rotate(-3deg);
            -ms-transform:skew(-8deg) rotate(-3deg);
            -o-transform:skew(-8deg) rotate(-3deg);
            transform:skew(-8deg) rotate(-3deg);
        }

        .curled:after {
            right:10px;
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg);
            -moz-transform:skew(8deg) rotate(3deg);
            -ms-transform:skew(8deg) rotate(3deg);
            -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
        }

        /* Perspective */

        .perspective:before {
            left:80px;
            bottom:5px;
            width:50%;
            height:35%;
            max-width:200px;
            max-height:50px;
            -webkit-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
            -moz-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
            box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
            -webkit-transform:skew(50deg);
            -moz-transform:skew(50deg);
            -ms-transform:skew(50deg);
            -o-transform:skew(50deg);
            transform:skew(50deg);
            -webkit-transform-origin:0 100%;
            -moz-transform-origin:0 100%;
            -ms-transform-origin:0 100%;
            -o-transform-origin:0 100%;
            transform-origin:0 100%;
        }

        .perspective:after {
            display:none;
        }

        /* Raised shadow - no pseudo-elements needed */

        .raised {
            -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

        /* Curved shadows */

        .curved:before {
            top:10px;
            bottom:10px;
            left:0;
            right:50%;
            -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-border-radius:10px / 100px;
            border-radius:10px / 100px;
        }

        .curved-vt-2:before {
            right:0;
        }

        .curved-hz-1:before {
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }

        .curved-hz-2:before {
            top:0;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }

        /* Rotated box */

        .rotated {
            -webkit-box-shadow:none;
            -moz-box-shadow:none;
            box-shadow:none;
            -webkit-transform:rotate(-1deg);
            -moz-transform:rotate(-1deg);
            -ms-transform:rotate(-1deg);
            -o-transform:rotate(-1deg);
            transform:rotate(-1deg);
        }

        .rotated > :first-child:before {
            content:"";
            position:absolute;
            z-index:-1;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
